.word-grid-container{
  display: flex;
}

.word-grid{
  display: grid;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: .25em;
  margin-bottom: 1em;
}

.tile{
  font-size: 2em;
  color: white;
  border: 0.05em solid hsl(240,2%,23%);
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.vertical-word{
  background-color: purple;
}

.subscript {
  font-size: 0.5em;
}

.one-point{
  color: red;
}

.two-points{
  color: orange;
}

.three-points{
  color: yellow;
}

.four-points{
  color: blue;
}

.five-points{
  color: lightblue;
}

.eight-points{
  color: green;
}

.ten-points{
 color: purple;
}


@media only screen and (max-width: 600px) {
  .word-grid-container {
    width: 95%;
    max-height: 90%;
  }
  .word-grid{
    grid-template-rows: repeat(6,12vh) ;
    grid-template-columns: repeat(5,18vw) ;
  }

  .tile{
    padding: 0.5em 0.1em;
    font-size: 5em;
  }
}
