.word-grid-container{
  display: flex;
}

.word-grid{
  display: grid;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: .25em;
  margin-bottom: 1em;
}

.tile{
  font-size: 2em;
  color: white;
  border: 0.05em solid hsl(240,2%,23%);
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.subscript {
  font-size: 0.5em;
}

.one-point{
  color: red;
}

.two-points{
  color: orange;
}

.three-points{
  color: yellow;
}

.four-points{
  color: blue;
}

.five-points{
  color: lightblue;
}

.eight-points{
  color: green;
}

.ten-points{
 color: purple;
}


/* .text{
   font-size: ;
} */
